@use "@scss/global.scss" as *;

.control-panel {
  width: 100%;
  max-width: 100%;
  background-color: $grey-1;
  border: 1px solid $grey-2;
  padding: 10px;
  border-radius: 0.4rem;
  overflow-y: auto;

  .genre-search,
  .all-genres {
    margin-left: 0;
    width: 100%;

    ul {
      padding-left: 0;
      margin: 0;
    }
  }

  p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid $blue-0;
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    font-size: 12px;
    color: $white-1;
  }

  input[type="checkbox"] {
    margin-right: 7px;
  }

  .input-section {
    width: 100%;
    margin-bottom: 10px;
  }

  li {
    list-style-type: none;
    margin: 4px 0;
    margin-left: 5px;
    font-size: 13px;

    label {
      word-break: break-word;
    }
  }
  
  @include mq-max($md) {
    padding: 8px;

    p {
      font-size: 13px;
    }

    span {
      font-size: 11px;
    }

    li {
      font-size: 12px;
    }
  }

  @include mq-max($sm) {
    padding: 6px;

    p {
      font-size: 12px;
    }

    span {
      font-size: 10px;
    }

    li {
      font-size: 11px;
    }
  }

  @include mq-max($xs) {
    padding: 4px;

    p {
      font-size: 11px;
    }

    li {
      font-size: 10px;
    }
  }

  @include mq-max($xxs) {
    padding: 3px;

    p {
      font-size: 10px;
    }

    li {
      font-size: 9px;
    }
  }
}
