@use "@scss/global.scss" as *;

.delete-book-modal {
  text-align: center;
  padding: 32px 24px 24px; // top | sides | bottom

  h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: $bold;
    color: $white-0;
  }

  .error {
    color: $error;
    margin-top: 10px;
  }

  .loading {
    margin-top: 20px;
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  // Responsive padding
  @include mq-max($sm) {
    padding: 28px 20px 20px;
  }

  @include mq-max($xs) {
    padding: 24px 16px 16px;
  }

  @include mq-max($xxs) {
    padding: 20px 12px 12px;
  }
}
