@use "@scss/global.scss" as *;

.input-container {
  position: relative;
  margin: 16px 0;
  width: 100%;
  max-width: 100%; // guarantee not to exceed modal

  &.outlined {
    border: 1px solid $grey-2;
    border-radius: 4px;
    padding: 0.75rem;
    transition: border-color 0.3s ease-in-out;
    width: 100%;

    .input-label {
      position: absolute;
      top: 0;
      left: 1rem;
      transform: translateY(-50%);
      background-color: $black-1;
      padding: 0 8px;
      color: $white-1;
      font-size: 0.9rem;
      white-space: nowrap;
      transition: color 0.2s ease-in-out;
    }

    &.error {
      border-color: $error;

      .input-label {
        color: $error;
      }
    }

    &:has(.input-field:focus),
    &:has(.textarea:focus) {
      border-color: $blue-0;

      .input-label {
        color: $blue-0;
      }

      .prefix-icon {
        transition: color 0.2s ease-in-out;
      }

      .prefix-icon,
      &.error .input-label {
        color: $blue-0;
      }
    }
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    .prefix-icon {
      position: absolute;
      left: 0.75rem;
      pointer-events: none;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: $white-1;
    }

    .clear-icon {
      position: absolute;
      right: 0.75rem;
      cursor: pointer;
      color: $white-1;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        color: $grey-2;
      }
    }

    .input-field,
    .textarea {
      width: 100%;
      min-width: 0; // allows itself to decrease
      border: none;
      outline: none;
      background-color: transparent;
      color: $white-0;
      font-size: 1rem;
      box-sizing: border-box;
      padding: 0.5rem 1rem 0.5rem 2.5rem;
      color: $white-1;

      &:focus {
        color: $white-0;
      }
    }

    .input-field[type="number"] {
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .textarea {
      min-height: 80px;
      padding: 1rem;
      resize: none;
    }

    .char-count {
      position: absolute;
      bottom: 0.25rem;
      right: 0.75rem;
      font-size: 0.75rem;
      color: $white-0;
      background-color: $white-1;
      border-radius: 1rem;
      padding: 2px;
    }
  }

  // Responsive scaling
  @include mq-max($sm) {
    margin: 12px 0;

    .input-wrapper {
      .input-field,
      .textarea {
        font-size: 0.95rem;
        padding: 0.5rem 0.75rem 0.5rem 2rem;
      }
    }
  }

  @include mq-max($xs) {
    .input-wrapper {
      .input-field,
      .textarea {
        font-size: 0.9rem;
        padding: 0.4rem 0.5rem 0.4rem 1.5rem;
      }
    }
  }

  @include mq-max($xxs) {
    .input-wrapper {
      .input-field,
      .textarea {
        font-size: 0.85rem;
        padding: 0.4rem 0.4rem 0.4rem 1.2rem;
      }
    }

    .textarea {
      min-height: 60px;
    }
  }
}
