@use "@scss/global.scss" as *;

.add-book-modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  h2 {
    color: $white-0;
    font-weight: $bold;
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 5px solid $blue-0;
    width: max-content;
    max-width: 100%;
    word-break: break-word;
  }

  .error {
    color: $error;
    font-weight: $medium;
    text-align: center;
    font-size: 14px;
  }

  @include mq-max($sm) {
    h2 {
      font-size: 20px;
    }

    button {
      font-size: 15px;
      padding: 10px 20px;
    }
  }

  @include mq-max($xs) {
    h2 {
      font-size: 18px;
    }

    button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }

  @include mq-max($xxs) {
    h2 {
      font-size: 16px;
    }

    button {
      font-size: 13px;
      padding: 6px 12px;
    }
  }
}
