@use "@scss/global.scss" as *;

.not-found {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .title {
    font-size: 144px;
    font-weight: bold;
    line-height: 1;
  }

  .subtitle {
    font-size: 34px;
    font-weight: bold;
    padding-bottom: 24px;
  }

  .button {
        padding: 0.75rem;
        border: 1px solid $white-0;
        background-color: transparent;
        color: $white-0;
        font-weight: $medium;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
  }
