@use "@scss/global.scss" as *;

.auth-register {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 8px;
  background: $gradient-0;
  box-shadow: $box-shadow-0;
  text-align: center;

  .error {
    color: $error;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

 
}
 p {
    margin: 5px 0px 2px;
    font-size: 0.875rem;
    color: $white-1;
  }

@media (max-width: $sm) {
  .auth-register {
    width: 90%;
    padding: 1.5rem;
  }
}
}