@use "@scss/global.scss" as *;

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;

  width: 90vw;
  max-width: 450px;
  max-height: 95vh;
  height: auto;

  padding: 24px;
  background-color: $black-1;
  border-radius: 10px;
  box-shadow: $box-shadow-0;
  overflow-y: auto;

  overflow-x: hidden;

  &-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    path {
      fill: $white-0;
    }
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch; 

    * {
      max-width: 100%;
      box-sizing: border-box;
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }

  @include mq-max($md) {
    max-width: 60vw;
    padding: 20px;
  }

  @include mq-max($sm) {
    max-width: 80vw;
    max-height: 600px;
    padding: 20px;
  }
}
