@use "@scss/global.scss" as *;

.home {
  padding-top: 70px;
  background-color: $black-1;

  .navbar {
    width: 100%;
    height: 70px;
    background-color: $grey-1;
    box-shadow: $box-shadow-0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; // horizontal padding
    z-index: $navbar-z-index;

    // Left side: pinned left
    .navbar-left {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-left: 10px;

      .site-name {
        font-size: 1.2rem;
        font-weight: $bold;
        color: $white-0;
        cursor: pointer;
      }
    }

    // Center: big search input
    .navbar-center {
      flex: 1; // let it grow to push left & right apart
      display: flex;
      justify-content: center;

      .input-section {
        position: relative;
        width: 400px; // default width for larger screens

        .input-icon {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          color: $white-1;
        }

        input {
          width: 100%;
          padding-left: 3rem;
          height: 2rem;
          font-size: 1rem;
          border: 1px solid $grey-2;
          border-radius: 4px;
          background-color: $grey-2;
          color: $white-0;
          outline: none;

          &::placeholder {
            color: $white-1;
          }

          &:focus {
            border-color: $white-1;
          }
        }
      }
    }

    // Right side: pinned right
    .navbar-right {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-right: 10px;

      svg {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        // fill: #551122;

        &:hover {
          fill: $white-0;
        }
      }
    }

    // ------------- RESPONSIVE -------------
    @media (max-width: $sm) {
      height: 60px;
      padding: 0 0.5rem;

      .navbar-center {
        .input-section {
          width: 200px; // narrower on small screens
        }
      }
    }
  }

  .book-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 16px;
    width: 100%;
    height: 100%;

    .book-details {
      padding: 2rem;
      color: $white-0;

      img {
        max-width: 100px;
      }

      // .loading-dots {
      //   color: $white-1;
      // }

      // ul {
      //   list-style: none;
      //   padding: 0;
      //   margin: 0;

      //   li {
      //     margin-bottom: 1.5rem;

      //     h4 {
      //       margin: 0;
      //       font-size: 1.2rem;
      //     }

      //     p {
      //       margin: 0.2rem 0;
      //     }
      //   }
      // }
    }
  }
}
