@use "@scss/global.scss" as *;

.home {
  height: 100%;

  .book-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
  

    // small screens — column layout
    @include mq-max($sm) {
      flex-direction: column;
      padding: 1rem;
    }

    p {
      margin: 15px 0px 0px 25px;
    }

    .edit-book {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      background-color: $grey-1;
      padding: 10px;
      border-radius: 10px;
      box-shadow: $box-shadow-0;
      width: 375px;

      @include mq-max($sm) {
        width: 90%;
        padding: 1rem;
      }
    }

    .dynamic-icon:hover {
      cursor: pointer;
      color: $blue-0;
    }

    .book-details {
      padding: 2rem;
      max-height: 70px; 
      color: $white-0;

      @include mq-max($sm) {
        padding: 1rem;
      }

      img {
        max-width: 100px;

        @include mq-max($xs) {
          max-width: 80px;
        }
      }
    }
  }
}
