@use "@scss/global.scss" as *;

.home {
  height: 100%;

  .book-wrapper {
    display: flex;
    flex-flow: row;
    gap: 16px;
    width: 100%;
    height: 100%;
    padding: 20px 75px;

    .edit-book {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      background-color: $grey-1;
      padding: 10px;
      border-radius: 10px;
      box-shadow: $box-shadow-0;
      width: 375px;
    }

    .book-details {
      padding: 2rem;
      color: $white-0;

      img {
        max-width: 100px;
      }
    }
  }
}
